/* body {
   background-image: url("../images/trivia.jpg");
   /* background-size: ; */
   /* background-repeat: no-repeat; */
   /* float:right; */

h1 {
  font-size: 30px;  
  color:black; 
  margin: auto;
  margin-top: 5%;
  /* background-color: #f1f1f1; */
  width:50%;
  margin-bottom: 5%;
  text-align: center;
}



h2{
  font-size:20px;
}
#trivia{
    width: 50%;
    height: 60%;
    background-color: white;
    border-style: solid; 
    margin: 50px 400px 100px 200px;
} 

.img{
 margin-left: 33.3%;
}

input {
    display: block;
};
